.Header2 {
  .navlist {
    display: "flex";
  }
  .stroke{
      position:relative;
  }
  .navbar-brand {
    font-size: 35px;
    @media screen and (max-width:600px){
        font-size:30px;
    }
}
  .nav-link{
    font-size:16px;
  }
  .stroke:after{ 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    transition:0.4s;
    background: #fff;
    height: 1px;
}


    .stroke:hover:after{
        width:100%;
    }
  .side {
    max-width: max-content;
    @media screen and (max-width: 990px) {
      max-width: inherit;
    }
  }
}
.scrolled{
    background: #fff;
}
