/*=============================================>>>>>
= Reset =
===============================================>>>>>*/

// https://gist.github.com/ricardozea/9809400

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

// Google Fonts Import
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

/*=============================================>>>>>
= Breakpoints =
===============================================>>>>>*/
$breakpoints: (
  extra-large: 1920px,
  large: 1600px,
  desktop: 1340px,
  tablet: 1080px,
  small-tablet: 960px,
  mobile: 800px,
  small-mobile: 400px
);

/*=============================================>>>>>
= Media Up =
===============================================>>>>>*/

// @include media-up(mobile) {}
@mixin media-up($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

/*=============================================>>>>>
= Media Down =
===============================================>>>>>*/

// @include media-down(mobile) {}
@mixin media-down($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

/*=============================================>>>>>
= Typography Mixins and Variables =
===============================================>>>>>*/

// Google Fonts Import
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

// Font weight variables
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

@mixin headings-font() {
  font-family: 'Rubik', sans-serif;
}

@mixin body-font() {
  font-family: 'Rubik', sans-serif;
}

/*=============================================>>>>>
= Default typography styles =
===============================================>>>>>*/

body {
  @include body-font();
  font-size-adjust: auto;
  line-height: 1.75em;
  text-align: left;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings-font();
  font-weight: $font-weight-bold;
  line-height: 1.2;
  &:first-child {
    margin-top: 0;
  }
}

/*=============================================>>>>>
= Colours =
===============================================>>>>>*/

$primary: #e58e26;
$secondary: #f6b93b;
$tertiary: #fa983a;
$quaternary: #ffb142;

/*=============================================>>>>>
= Common styles =
===============================================>>>>>*/

.wrap {
  display: block;
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; 
}

/*=============================================>>>>>
= Nav Menu styles =
===============================================>>>>>*/

.navigation-menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transform: translateY(-100vh);
  transition: transform 0.33s ease-out;
  z-index: 5;
  overflow: hidden;

  &.active {
    transform: translateY(0);

    &:not(.is-animating) {
      .wrap {
        .cols {
          .col {
            &.col-links {
              transform: translateY(0%);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.is-animating {
    &:not(.active) {
      transform: translateY(0);
    }

    &.active {
      .wrap {
        .cols {
          .col {
            &.col-links {
              transform: translateY(10%);
              opacity: 0;
            }
          }
        }
      }
    }
  }
  
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include media-down(mobile) {
      position: relative;
      padding-bottom: 40vw;
    }

    .cols {
      width: 100%;
      display: flex;
      flex-direction: row;
      
      @include media-down(mobile) {
        flex-direction: column;
      }

      .col {
        width: 50%;
        flex: 1;
        
        @include media-down(mobile) {
          width: 100%;
          flex: auto;
        }

        &.col-links {
          transform: translateY(20%);
          opacity: 0;
          transition: opacity 0.3s ease, transform 0.3s ease;
          
          .links {
            display: flex;
            flex-direction: column;
            margin-bottom: 60px;
            max-width: 600px;
            margin: 0 auto;
            
            .link {
              margin-bottom: 20px;
              
              &:last-child {
                margin-bottom: 0;
              }
              
              a {
                font-size: 32px;
                color: #9b59b6;
                text-decoration: none;
                position: relative;
                
                @include media-down(mobile) {
                  font-size: 24px;
                }
                
                &:after {
                  position: absolute;
                  top: auto;
                  bottom: -2.5px;
                  left: 0;
                  transform: translateY(100%);
                  content: '';
                  height: 2px;
                  width: 100%;
                  background-color: #9b59b6;
                  border-radius: 4px;
                  transform: scaleX(0);
                  transform-origin: left center;
                  transition: transform 0.3s ease;
                }
                
                &:hover {
                  &:after {
                    transform: scaleX(1);
                  }
                }
              }
            }
          }
        }
        
        &.col-image {
          height: 100%;
          position: relative;
          
          @include media-down(mobile) {
            position: absolute;
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
            width: 40vw;
            height: 40vw;
          }
          
          .astro {
            position: absolute;
            width: 70%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            animation: rotateFloat 120s infinite;
            animation-timing-function: linear;
            
            @keyframes rotateFloat {
              from {
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
              }
              to {
                transform: translateX(-50%) translateY(-50%) rotate(360deg);
              }
            }
            
            @include media-down(mobile) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}



/*=============================================>>>>>
= Header styles =
===============================================>>>>>*/

.header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 6;
  // overflow: hidden;

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .nav-button {
      display: block;
      position: relative;
      height: 30px;
      
      &:hover, &:focus, &:active {
        // Please forgive me accessibility gods
        outline: none;
      }
      
      &:hover {
        cursor: pointer;
      }

      @include media-down(mobile) {
        height: 20px;
      }

      &.is-animating {
        span {
          &.active {
            transform: translateY(50%);
            opacity: 0;
          }
        }
      }

      span {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        display: block;
        transform: translateY(-50%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &.active {
          transform: translateY(0%);
          opacity: 1;
        }
        
        &.label--nav-open {
          &.active {
            color: #9b59b6;
          }
        }
      }
    }
  }
}

/*=============================================>>>>>
= Page styles =
===============================================>>>>>*/

body {
  background-color: $primary;
  
  main.page {
    margin: 60px 0;
    
    @include media-down(mobile) {
      margin: 40px 0 60px;
    }
  }
  
  .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
      font-size: 60px;
      margin-bottom: 40px;
      
      @include media-down(mobile) {
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    
    .author {
      display: block;
      font-size: 20px;
      letter-spacing: 0.01em;
      margin-bottom: 60px;
      
      @include media-down(mobile) {
        font-size: 18px;
        margin-bottom: 40px;
      }
    }
  }
  
  .some-image {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }
  
  .text-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    @include media-down(mobile) {
      padding: 0;
    }
  }
  
  .text-body {
    margin-bottom: 120px;
  }
}

body {
  // background colour change

  
  animation: change-background 20s ease infinite;
  @keyframes change-background {
    0% {
      background-color: $primary;
    }
    15% {
      background-color: $primary;
    }
    20% {
      background-color: $quaternary;
    }
    35% {
      background-color: $quaternary;
    }
    40% {
      background-color: $tertiary;
    }
    55% {
      background-color: $tertiary;
    }
    60% {
      background-color: $secondary;
    }
    75% {
      background-color: $secondary;
    }
    80% {
      background-color: $quaternary;
    }
    95% {
      background-color: $quaternary;
    }
    100% {
      background-color: $primary;
    }
  }
}