#Editor{
    position:fixed;
    // left:50%;
    // top:50%;
    // transform:translate(-50%,-50%);
    // cursor:move;
    min-width: 300px;
    max-width: 70%;
    max-height:400px;
    z-index:99998;
    overflow-y:scroll;
    // right:1rem
}

.ui-resizable-n{
  height:27px;
  top:0;
  cursor:grabbing;
}

// .ui-resizable-handle {
//   background: url(http://i.stack.imgur.com/Xkiaa.png) no-repeat; 
//   position:absolute;
//   height: 5rem;
//   left: 50%; /*Adjust this value to fit it properly in the container*/
//   top: 53vh;
//   width:5rem;
//   z-index:99998!important;
//   transform:translate(-50%,-50%);
// }
// #Editor.ui-resizable {
//   border-top: 3px solid gray;
// }

#Editor::-webkit-scrollbar {
    width: 1em;
  }
   
  #Editor::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }
   
  #Editor::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }