#Editor{
    position:fixed;
    // left:50%;
    // top:50%;
    // transform:translate(-50%,-50%);
    // cursor:move;
    min-width: 300px;
    max-width: 70%;
    max-height:400px;
    z-index:99999!important;
    overflow-y:scroll;
}
#Editor::-webkit-scrollbar {
    width: 1em;
  }
   
  #Editor::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }
   
  #Editor::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }