// .Mainbackground{
//     position:absolute;
//     height:100vh;
//     background:white;
//     width:100%;
//     overflow:hidden;
// }
.entireWebsite {
}

.viewModeDiv {
    animation: viewModeDivAnimation 1s ease-in;
}

@keyframes viewModeDivAnimation {
    0% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
