.signuppage{
    .MuiInputBase-input{
        color: white !important;
    }
    .MuiOutlinedInput-notchedOutline{
        border-color:white !important;
        color:white;
    }
    .MuiFormLabel-root{ 
        color:white !important 
    } 
}
// body{
//     margin-top:0;
//     z-index:-999;
//     background-image:url("https://images.unsplash.com/photo-1608311398753-6df2bde3177c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHRyYW5zcGFyZW50JTIwYmxhY2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
//     background-repeat:no-repeat;
//     background-size: cover;
// }
