.signuppage{
    .MuiInputBase-input{
        color: white !important;
    }
    .MuiOutlinedInput-notchedOutline{
        border-color:white !important;
        color:white;
    }
    .MuiFormLabel-root{ 
        color:white !important 
    } 
}
