@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.loader-spinner{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	// background:#d4e8ca;
	z-index:9999;
}
.wholesignup{
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	top:0;
  height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
	padding: 0 2rem;
	margin-top:0;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 100rem;
}

.img{
  width: 30rem !important;
  position: relative;
  top: 10rem;
  right: 5rem;
}

form{
	width: 360px;
}

.login-content img{
    height: 8rem;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

/* .input-div> div > input{
	&:focus{
		.input-div> div > h5{
			color: rgb(250, 11, 11) !important;
			top: -5px;
			font-size: 15px;
		}
	}
} */

/* .input-div input:focus + h5, .input-div input:valid + h5{
  color: #00bafa;
  font-size: 0.8em;
  width: auto;
  height: 1.3em;
  padding: 0px 0.5em 0px 0.5em;
  margin: 0px;
  background: white;
  transition: 0.2s ease-in-out;
  top: 0em;
  left: 2em;
}*/

.input-div{
	position: relative;
}

.div h5{
	position: absolute;
	transform-origin: top left;
  	transition: all 0.2s ease-out;
}

.div:focus-within h5{
	transform: translate(0, -33px) scale(0.75);
}

.div .Active {
  transform: translate(0, -33px) scale(0.75);
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
	display: inline-block;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 100rem;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
  }
  
  .form{
    border: rgba(54, 173, 39, 0.829) 2px solid;
    width: 80%;
    height: fit-content;
    padding: 2rem;
    box-shadow: 0 15px 20px rgba(105, 182, 118, 0.815), 0 12px 9px rgba(121, 192, 125, 0.22) !important;
    &:hover{
      box-shadow: 0 10px 18px rgba(34, 226, 66, 0.815), 0 10px 7px rgba(117, 228, 122, 0.22) !important;
    }
  }

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
}